:root {
  /* primary color */
  --color-del-primary: #0f67b7;
  --color-del-primary-hover: #1982d8;
  --color-del-primary-light: #30a4e5;
  --color-del-black: #090909;
  --color-del-gray: #4d4d4d;
  --color-del-gray-light: #b3b3b3;

  /* secondary color */
  --color-del-error: #d53c37;
  --color-del-success: #589e92;
  --color-del-warning: #cba10b;

  /* font */
  --font-del-primary: "Inter", sans-serif;
  --font-del-secondary: "Poppins", sans-serif;
}

/* Dark mode - It's not built yet */
.dark {
  --color-del-primary: #0f67b7;
  --color-del-primary-hover: #1982d8;
  --color-del-primary-light: #30a4e5;
  --color-del-black: #ffffff;
  --color-del-gray: #b3b3b3;
  --color-del-gray-light: #4d4d4d;

  /* secondary color */
  --color-del-error: #d53c37;
  --color-del-success: #589e92;
  --color-del-warning: #cba10b;

  /* font */
  --font-del-primary: "Inter", sans-serif;
  --font-del-secondary: "Poppins", sans-serif;
}
